<!DOCTYPE html>
<html ng-app="fullNameApp">

<head>
    <title>AngularJS Full Name App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>

    <div ng-controller="fullNameCtrl">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" ng-model="firstName" placeholder="Enter your first name">

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" ng-model="lastName" placeholder="Enter your last name">

        <p>Your Full Name: {{ getFullName() }}</p>
    </div>

    <script>
        // AngularJS application module
        var app = angular.module('fullNameApp', []);
        // AngularJS controller
        app.controller('fullNameCtrl', function($scope) {
            // Default values for first name and last name
            $scope.firstName = 'Raj';
            $scope.lastName = 'Kumar';

            // Function to get the full name
            $scope.getFullName = function() {
                return $scope.firstName + ' ' + $scope.lastName;
            };
        });
    </script>

</body>

</html>